[submodule "build/ffmpeg"]
	path = build/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "build/libass"]
	path = build/libass
	url = https://github.com/libass/libass.git
[submodule "build/frididi"]
	path = build/frididi
	url = https://github.com/fribidi/fribidi.git
[submodule "build/x264"]
	path = build/x264
	url = https://github.com/mirror/x264.git
[submodule "build/libvpx"]
	path = build/libvpx
	url = https://github.com/webmproject/libvpx.git
[submodule "build/lame"]
	path = build/lame
	url = https://github.com/Kagami/lame-svn.git
[submodule "build/zlib"]
	path = build/zlib
	url = https://github.com/madler/zlib.git
